.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: #F05A22;
  color: white;
  padding : 20px;
}
.navbar a{
text-decoration: none;
color: white;
font-size: 20px;
padding: 5px;
}
#search{
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  
}
.home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 15px;
}
.home div{
  border-radius: 10px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(249, 249, 249);
}
#link{
  text-decoration: none;
  padding: 5px;
  color: rgb(40, 35, 35);
}
#link:hover{
  cursor: pointer;
}
.home div img{
  border-radius: 20px ;
}

